<div class="p">

  <div>
    <h1>Задача 04</h1> <br />
    <div>
      Написать игру "крестики-нолики". <br />
      По первому клику текст кнопки становится крестик и кнопка дизейблится, по второму - нолик, и так далее.<br />

      Когда собрана последовательность, все кнопки дизейблятся и внизу пишется кто выиграл.<br />
      По клику на "start new game" все сбрасывается.<br />
      Давай разделим задачу на несколько частей:
    </div><br />
    <div class="text">
      1 этап. Придумай стор, как хранить данные об игре, и намапь этот стор на кнопки. То есть сделай просто вывод из
      стора на кнопки.
      Ручками меняешь в ts-файле данные и на кнопках появляются либо крестики, либо нолики<br />
      2 этап. Добавить функцию клика на кнопке, щелкаем по кнопке, стор меняется, по той кнопке, по которой щелкнули, в
      сторе меняется
      соответствующее значение. Сюда же втыкаем логику, что каждый новый клик это смена крестика и нолика. <br />
      3 этап. Можно реализовать кнопку сброса игры.<br />
      4 этап. Полностью завершить логику. После клика на кнопку она дизейблится, игра играется до последней заполненной
      кнопки или
      до победы крестика или нолика.
    </div>
  </div>


  <div class='m-2'>
    <button class="btn-task">Start New Game</button>
  </div>

</div>

<div class='m-2 game-buttons'>
  <div class="aria-wrapper">
    <div id="area">
      <div (click)="markArea($event)" *ngFor=" let box of boxes$$ | async" class="box">{{box}}</div>
    </div>
  </div>
</div>

<div class='task'>
  X has won the game <br>
  <button class="btn-back" routerLink='/tasks'>BACK</button>
</div>