.card-task {
  width: 600px;
  margin: 5% auto;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 3%;
  box-shadow: 1px 10px 30px #40f0c4be;
  height: 150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
	font-weight: 800;
}

a {
	text-decoration: none;
	color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
}

.task {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.btn-task{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgba(81, 211, 178, 0.746);
  box-shadow: 5px 5px 5px gray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}